
*, *:before, *:after{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
/*Main*/
html, 
body{
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

.wrapper{
    position: relative;
    min-height: 100%;
}

.background{
    min-height: 100vh;
    background-image: url(LandingPicPC.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    height: 100%;
}
h2{
    font-weight:400;
}
a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
}

a:hover{
    color: grey;
}

/*Header*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgb(0, 0, 0);
}
.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 10px;
    height: 100%;
}

.header_body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}
.header_burger {
    display: none;
}
.header_list {
    display: flex;
    position: relative;
    z-index: 3;
}
.header_list li{
    list-style: none;
    margin: 0 0 0 20px;
}
.header_link {
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.header_logo{
    z-index: 3;
    flex: 0 0 80px;
    overflow: hidden;
}
.header_logo img{
    max-width: 100%;
}
.content {
    padding: 100px 0 100px 0 ;
    height: 100%;
}
.content_text {
    height: 100%;
    display:flex;
    align-content: flex-end;
    flex-direction: column;
    
    font-size: 25px;
    font-weight: 200;
    line-height: 25px;
    position: relative;
    padding: 10px 0 100px 0;
    color: rgb(255, 239, 239);
    text-shadow: 2px 2px 2px rgba(12, 8, 8, 0.952);
}


.main_text{
    line-height: 40px;
    font-weight: 400;
    font-size: 35px;
    margin: 500px 0 50px 0;
}


.text{
    font-weight: 200;
    background-color: rgba(12, 8, 8, 0.15);
}

/*Footer*/
footer{
    /*position: relative;
    flex: 0 1 auto;
    padding: 0;*/
    display: block;
    background-color: black;
    width: 100%;
    color: white;
    position: absolute;
	left: 0;
	bottom: 0;
}

.footer__text{
    max-width: 1800px;
    position: relative;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    padding: 0 10px;
    flex-direction: row;
}

.footer_item{
    padding: 10px 10px 10px 0;
}

.contacts{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
} 

.adresses{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.adress{
    padding: 5px 0 5px 0;
}

/*Mobile*/
@media (max-width:767px){
    .background{
        background-size: auto 125%;
        background-image: url(LandingPicMobile.jpeg);
    }
    .footer__text{
        flex-direction: column;
    }
    body.lock{
        overflow: hidden;
    }
    .header_body{
        height: 50px;
    }
    .header_burger{
        display:block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before{
        top: 0;
    }
    .header_burger:after{
        bottom: 0;
    }
    .header_burger.active span{
        transform: scale(0);
    }
    .header_burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_menu{
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        padding: 70px 0 0 0;
        transition: all 0.3s ease 0s;
    }
    .header_menu.active{
        top:0;
    }
    .header_list{
        display: block;

    }
    .header_list li{
        margin: 0px 0px 20px 20px;
    }
    .header_link{
        font-size: 24px;
    }
    .header_logo{
        margin-top: 6px;
        z-index: 3;
    }
    .header_logo img{
        max-width: 60%;
    }
    .content{
        padding: 50px 0 300px 0;
    }
    .main_text{
        word-wrap: break-word;
        line-height: 40px;
        font-weight: 400;
        font-size: 35px;
        margin: 300px 0 50px 0;
    }
    /* @media (min-width: 1400px){

    } */
}
