*{
    margin: 0;
    padding: 0;
}
.header{
    background: rgb(253, 183, 183);
    display: flex;
    justify-content: space-between;
}
.logo{
    background: white;
    width: 30%;
    display: flex;
    justify-content: left;
}
.brand{
    font-size: 45px;
}
.footer{
    background: brown;
}
.main{

}
body{
    font-family: 'Oswald', sans-serif;
}