.heading {
    font-weight: 400;
    color: rgba(0, 0, 0, 0.596);
}

.heading_fir {
    text-align:center;
    line-height: 40px;
    margin-bottom: 15px;
}
.heading_sec {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.masters {
    display: flex;
    height: 100%;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}
.master {
    display: flex;
    height: 100%;
    flex-direction: row;
    padding-bottom: 15px;
}

.main_pic {
    width:80%;
} 

.main_pic_wrap{
    text-align: center;
    margin-bottom: 20px;
}

.pic{
    border: 2px solid;
    border-color: darkgray;
}

.master_text {
    margin-left: 10px;
}
/*Tablets*/
@media (max-width:1100px){
    .general_text{
        padding-left: 50px;
        padding-right: 50px;
    }
    
    .content{
        padding-top: 75px;
    }
    .master_pic{
        margin-top: 15px;
        margin-bottom: 5px;
        height: auto;
        width: 400px;
    }
    .masters {
        padding-left: 10px;
        padding-right: 10px;
    }
    .master_text {
        margin-left: 0;
    }
    .master {
        flex-direction: column;
    }
    .pic{
        text-align: center;
    }
    .master_pic_wrap{
        text-align: center;
    }
    .main_pic {
        width:90%;
    } 
}
/*медиа mobile*/
.pic{
    margin-top: 15px;
    margin-bottom: 5px;
    height: 60%;
    width: 100%;
}
.masters {
    padding-left: 10px;
    padding-right: 10px;
}
.master_text {
    margin-left: 0;
}
.master {
    flex-direction: column;
}